## 1.Import Library

In [1]:
import pandas as pd
import numpy as np

# Data Viz library
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## 2. Read Data

In [2]:
HR = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

#Show first 5 rows
HR.head(20)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,3,80,0,6,3,3,3,2,1,2

In [3]:
HR.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Age,41,49,37,33,27,32,59,30,38,36,35,29,31,34,28,29,32,22,53,38
Attrition,Yes,No,Yes,No,No,No,No,No,No,No,No,No,No,No,Yes,No,No,No,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Travel_Rarely,Non-Travel,Travel_Rarely,Travel_Rarely
DailyRate,1102,279,1373,1392,591,1005,1324,1358,216,1299,809,153,670,1346,103,1389,334,1123,1219,371
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Sales,Research & Development
DistanceFromHome,1,8,2,3,2,2,3,24,23,27,16,15,26,19,24,21,5,16,2,2
Education,2,1,2,4,1,2,3,1,3,3,3,2,1,2,3,4,2,2,4,3
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical,Life Sciences,Medical,Life Sciences,Life Sciences,Medical,Medical,Life Sciences,Life Sciences,Medical,Life Sciences,Life Sciences,Life Sciences,Medical,Life Sciences,Life Sciences
EmployeeCount,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
EmployeeNumber,1,2,4,5,7,8,10,11,12,13,14,15,16,18,19,20,21,22,23,24
EnvironmentSatisfaction,2,3,4,4,1,4,3,4,4,3,1,4,1,2,3,2,1,4,1,4
Gender,Female,Male,Male,Female,Male,Male,Female,Male,Male,Male,Male,Female,Male,Male,Male,Female,Male,Male,Female,Male
HourlyRate,94,61,92,56,40,79,81,67,44,94,84,49,31,93,50,51,80,96,78,45
JobInvolvement,3,2,2,3,3,3,4,3,2,3,4,2,3,3,2,4,4,4,2,3
JobLevel,2,2,1,1,1,1,1,1,3,2,1,2,1,1,1,3,1,1,4,1
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician,Laboratory Technician,Laboratory Technician,Laboratory Technician,Manufacturing Director,Healthcare Representative,Laboratory Technician,Laboratory Technician,Research Scientist,Laboratory Technician,Laboratory Technician,Manufacturing Director,Research Scientist,Laboratory Technician,Manager,Research Scientist
JobSatisfaction,4,2,3,3,2,4,1,3,3,3,2,3,3,4,3,1,2,4,4,4
MaritalStatus,Single,Married,Single,Married,Married,Single,Married,Divorced,Single,Married,Married,Single,Divorced,Divorced,Single,Divorced,Divorced,Divorced,Married,Single
MonthlyIncome,5993,5130,2090,2909,3468,3068,2670,2693,9526,5237,2426,4193,2911,2661,2028,9980,3298,2935,15427,3944
MonthlyRate,19479,24907,2396,23159,16632,11864,9964,13335,8787,16577,16479,12682,15170,8758,12947,10195,15053,7324,22021,4306
NumCompaniesWorked,8,1,6,1,9,0,4,1,0,6,0,0,1,0,5,1,0,1,2,5
Over18,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y
OverTime,Yes,No,Yes,Yes,No,No,Yes,No,No,No,No,Yes,No,No,Yes,No,Yes,Yes,No,Yes
PercentSalaryHike,11,23,15,11,12,13,20,22,21,13,13,12,17,11,14,11,12,13,16,11
PerformanceRating,3,4,3,3,3,3,4,4,4,3,3,3,3,3,3,3,3,3,3,3
RelationshipSatisfaction,1,4,2,3,4,3,1,2,2,2,3,4,4,3,2,3,4,2,3,3
StandardHours,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80
StockOptionLevel,0,1,0,0,1,0,3,1,0,2,1,0,1,1,0,1,2,2,0,0
TotalWorkingYears,8,10,7,8,6,8,12,1,10,17,6,10,5,3,6,10,7,1,31,6
TrainingTimesLastYear,0,3,3,3,3,2,3,2,2,3,5,3,1,2,4,1,5,2,3,3
WorkLifeBalance,1,3,3,3,3,2,2,3,3,2,3,3,2,3,3,3,2,2,3,3
YearsAtCompany,6,10,0,8,2,7,1,1,9,7,5,9,5,2,4,10,6,1,25,3
YearsInCurrentRole,4,7,0,7,2,7,0,0,7,7,4,5,2,2,2,9,2,0,8,2
YearsSinceLastPromotion,0,1,0,3,2,3,0,0,1,7,0,0,4,1,0,8,0,0,3,1
YearsWithCurrManager,5,7,0,0,2,6,0,0,8,7,3,8,3,2,3,8,5,0,7,2

## 3. Data Preparation

In [4]:
HR.shape

(1470, 35)

In [5]:
HR.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [6]:
#Missing Value
HR.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
feature00=HR.drop_duplicates()
feature00.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [8]:
feature00.shape

(1470, 35)

In [9]:
feature00.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [10]:
feature00.head().T

,0,1,2,3,4
Age,41,49,37,33,27
Attrition,Yes,No,Yes,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely
DailyRate,1102,279,1373,1392,591
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development
DistanceFromHome,1,8,2,3,2
Education,2,1,2,4,1
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical
EmployeeCount,1,1,1,1,1
EmployeeNumber,1,2,4,5,7
EnvironmentSatisfaction,2,3,4,4,1
Gender,Female,Male,Male,Female,Male
HourlyRate,94,61,92,56,40
JobInvolvement,3,2,2,3,3
JobLevel,2,2,1,1,1
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician
JobSatisfaction,4,2,3,3,2
MaritalStatus,Single,Married,Single,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468
MonthlyRate,19479,24907,2396,23159,16632
NumCompaniesWorked,8,1,6,1,9
Over18,Y,Y,Y,Y,Y
OverTime,Yes,No,Yes,Yes,No
PercentSalaryHike,11,23,15,11,12
PerformanceRating,3,4,3,3,3
RelationshipSatisfaction,1,4,2,3,4
StandardHours,80,80,80,80,80
StockOptionLevel,0,1,0,0,1
TotalWorkingYears,8,10,7,8,6
TrainingTimesLastYear,0,3,3,3,3
WorkLifeBalance,1,3,3,3,3
YearsAtCompany,6,10,0,8,2
YearsInCurrentRole,4,7,0,7,2
YearsSinceLastPromotion,0,1,0,3,2
YearsWithCurrManager,5,7,0,0,2

In [11]:
feature01 = feature00[["EmployeeNumber","BusinessTravel","Department","EducationField","Gender","JobRole","MaritalStatus","Over18"
                         ,"OverTime"]]
feature01.head()

,EmployeeNumber,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,1,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,2,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,4,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes
3,5,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,Yes
4,7,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No

In [12]:
feature01.shape

(1470, 9)

In [13]:
feature01.columns

Index(['EmployeeNumber', 'BusinessTravel', 'Department', 'EducationField',
       'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime'],
      dtype='object')

## Get Dummy

In [14]:
feature01Dummy = pd.get_dummies(feature01,columns = ["BusinessTravel","Department","EducationField","Gender","JobRole","MaritalStatus","Over18"
                         ,"OverTime"])
feature01Dummy.head()

,EmployeeNumber,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,1,0,0,1,0,0,1,0,1,0,...,0,0,1,0,0,0,1,1,0,1
1,2,0,1,0,0,1,0,0,1,0,...,0,1,0,0,0,1,0,1,1,0
2,4,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
3,5,0,1,0,0,1,0,0,1,0,...,0,1,0,0,0,1,0,1,0,1
4,7,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0

In [15]:
feature01Dummy.columns

Index(['EmployeeNumber', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Female', 'Gender_Male',
       'JobRole_Healthcare Representative', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'Over18_Y',
       'OverTime_No', 'OverTime_Yes'],
      dtype='object')

In [16]:
feature01Dummy.head().T

                                   0  1  2  3  4
EmployeeNumber                     1  2  4  5  7
BusinessTravel_Non-Travel          0  0  0  0  0
BusinessTravel_Travel_Frequently   0  1  0  1  0
BusinessTravel_Travel_Rarely       1  0  1  0  1
Department_Human Resources         0  0  0  0  0
Department_Research & Development  0  1  1  1  1
Department_Sales                   1  0  0  0  0
EducationField_Human Resources     0  0  0  0  0
EducationField_Life Sciences       1  1  0  1  0
EducationField_Marketing           0  0  0  0  0
EducationField_Medical             0  0  0  0  1
EducationField_Other               0  0  1  0  0
EducationField_Technical Degree    0  0  0  0  0
Gender_Female                      1  0  0  1  0
Gender_Male                        0  1  1  0  1
JobRole_Healthcare Representative  0  0  0  0  0
JobRole_Human Resources            0  0  0  0  0
JobRole_Laboratory Technician      0  0  1  0  1
JobRole_Manager                    0  0  0  0  0
JobRole_Manufacturing Director     0  0  0  0  0
JobRole_Research Director          0  0  0  0  0
JobRole_Research Scientist         0  1  0  1  0
JobRole_Sales Executive            1  0  0  0  0
JobRole_Sales Representative       0  0  0  0  0
MaritalStatus_Divorced             0  0  0  0  0
MaritalStatus_Married              0  1  0  1  1
MaritalStatus_Single               1  0  1  0  0
Over18_Y                           1  1  1  1  1
OverTime_No                        0  1  0  0  1
OverTime_Yes                       1  0  1  1  0

## Check Correlation

In [17]:
corr = feature01Dummy.corr()
corr

,EmployeeNumber,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
EmployeeNumber,1.000000,0.022272,-0.007980,-0.007976,0.063431,-0.041923,0.015441,0.035345,-0.000609,-0.014487,...,-0.013983,-0.017686,0.023263,0.006255,-0.025149,0.053933,-0.035189,NaN,0.024037,-0.024037
BusinessTravel_Non-Travel,0.022272,1.000000,-0.162435,-0.526850,-0.004755,-0.005013,0.007283,0.020835,0.005311,-0.030567,...,-0.021431,-0.010116,0.031022,-0.033780,0.057455,-0.043635,-0.004622,NaN,0.037163,-0.037163
BusinessTravel_Travel_Frequently,-0.007980,-0.162435,1.000000,-0.753092,-0.007485,0.003340,-0.000160,0.011818,0.031128,-0.016586,...,-0.023579,-0.004461,-0.010175,0.055469,0.005779,-0.030785,0.027734,NaN,-0.029392,0.029392
BusinessTravel_Travel_Rarely,-0.007976,-0.526850,-0.753092,1.000000,0.009618,0.000465,-0.004718,-0.024073,-0.030355,0.034668,...,0.034600,0.010588,-0.011920,-0.025257,-0.043287,0.055613,-0.020808,NaN,0.000539,-0.000539
Department_Human Resources,0.063431,-0.004755,-0.007485,0.009618,1.000000,-0.290754,-0.139650,0.646436,-0.068040,-0.073692,...,-0.050765,-0.105352,-0.112959,-0.051764,0.016037,0.034767,-0.051443,NaN,0.006178,-0.006178
Department_Research & Development,-0.041923,-0.005013,0.003340,0.000465,-0.290754,1.000000,-0.906818,-0.187954,0.127321,-0.478520,...,0.174596,0.362340,-0.733497,-0.336127,0.035158,-0.019997,-0.009990,NaN,0.003036,-0.003036
Department_Sales,0.015441,0.007283,-0.000160,-0.004718,-0.139650,-0.906818,1.000000,-0.090275,-0.101791,0.527691,...,-0.158327,-0.328576,0.808869,0.370667,-0.043451,0.005378,0.033002,NaN,-0.005864,0.005864
EducationField_Human Resources,0.035345,0.020835,0.011818,-0.024073,0.646436,-0.187954,-0.090275,1.000000,-0.114559,-0.047637,...,-0.032816,-0.068103,-0.073020,-0.033462,0.012107,0.057339,-0.072051,NaN,-0.004040,0.004040
EducationField_Life Sciences,-0.000609,0.005311,0.031128,-0.030355,-0.068040,0.127321,-0.101791,-0.114559,1.000000,-0.291660,...,0.018401,0.043729,-0.091122,-0.043208,-0.002672,-0.017866,0.021469,NaN,0.013787,-0.013787
EducationField_Marketing,-0.014487,-0.030567,-0.016586,0.034668,-0.073692,-0.478520,0.527691,-0.047637,-0.291660,1.000000,...,-0.083548,-0.173387,0.457308,0.133065,-0.007212,0.018491,-0.013323,NaN,-0.014607,0.014607
EducationField_Medical,-0.008689,0.012828,-0.005367,-0.003930,-0.049761,0.183548,-0.168034,-0.092899,-0.568774,-0.236514,...,0.062898,0.039735,-0.133532,-0.051990,0.013316,-0.007139,-0.004249,NaN,-0.002246,0.002246
EducationField_Other,0.010432,-0.013389,-0.011004,0.018406,-0.007527,0.064751,-0.063695,-0.033248,-0.203560,-0.084647,...,-0.006044,0.005286,-0.036995,-0.033774,0.005411,-0.009171,0.004972,NaN,-0.024970,0.024970
EducationField_Technical Degree,0.005938,0.004171,-0.023569,0.017521,-0.019469,0.038541,-0.031309,-0.042964,-0.263050,-0.109385,...,-0.022905,0.076218,-0.058843,0.057185,-0.019243,0.002710,0.014265,NaN,0.017723,-0.017723
Gender_Female,-0.022556,-0.050461,0.022015,0.014682,-0.035652,-0.015760,0.032017,-0.028956,-0.006770,0.024143,...,0.006121,-0.009745,0.005348,0.028877,-0.046076,0.007804,0.032752,NaN,-0.041924,0.041924
Gender_Male,0.022556,0.050461,-0.022015,-0.014682,0.035652,0.015760,-0.032017,0.028956,0.006770,-0.024143,...,-0.006121,0.009745,-0.005348,-0.028877,0.046076,-0.007804,-0.032752,NaN,0.041924,-0.041924
JobRole_Healthcare Representative,0.025945,0.012878,0.008029,-0.015503,-0.066186,0.227637,-0.206425,-0.042785,0.029084,-0.108929,...,-0.075038,-0.155727,-0.166971,-0.076515,0.027897,0.004913,-0.030126,NaN,0.000382,-0.000382
JobRole_Human Resources,0.067287,-0.015890,0.001896,0.008962,0.904983,-0.263128,-0.126381,0.549751,-0.063119,-0.066690,...,-0.045941,-0.095342,-0.102226,-0.046845,0.021541,0.030995,-0.052320,NaN,0.014026,-0.014026
JobRole_Laboratory Technician,-0.019722,0.009270,0.010023,-0.014815,-0.097859,0.336570,-0.305208,-0.063260,0.044359,-0.161055,...,-0.110947,-0.230248,-0.246873,-0.113130,-0.011224,-0.009233,0.019873,NaN,0.044774,-0.044774
JobRole_Manager,-0.035058,0.014078,-0.042583,0.027294,0.087615,-0.071356,0.035248,0.082271,-0.011143,0.025577,...,-0.065508,-0.135949,-0.145765,-0.066797,0.001997,0.049982,-0.055176,NaN,0.011086,-0.011086
JobRole_Manufacturing Director,-0.014350,-0.013536,0.009783,0.000598,-0.070000,0.240754,-0.218320,-0.045251,0.052023,-0.115206,...,-0.079362,-0.164700,-0.176592,-0.080924,0.020543,0.002819,-0.021331,NaN,0.010302,-0.010302
JobRole_Research Director,-0.013983,-0.021431,-0.023579,0.034600,-0.050765,0.174596,-0.158327,-0.032816,0.018401,-0.083548,...,1.000000,-0.119442,-0.128066,-0.058687,0.037524,0.008271,-0.042299,NaN,-0.002400,0.002400
JobRole_Research Scientist,-0.017686,-0.010116,-0.004461,0.010588,-0.105352,0.362340,-0.328576,-0.068103,0.043729,-0.173387,...,-0.119442,1.000000,-0.265775,-0.121792,-0.012115,-0.039987,0.053522,NaN,-0.054378,0.054378
JobRole_Sales Executive,0.023263,0.031022,-0.010175,-0.011920,-0.112959,-0.733497,0.808869,-0.073020,-0.091122,0.457308,...,-0.128066,-0.265775,1.000000,-0.130586,-0.013853,0.005751,0.006210,NaN,-0.006341,0.006341
JobRole_Sales Representative,0.006255,-0.033780,0.055469,-0.025257,-0.051764,-0.336127,0.370667,-0.033462,-0.043208,0.133065,...,-0.058687,-0.121792,-0.130586,1.000000,-0.052890,-0.023659,0.072439,NaN,-0.003347,0.003347
MaritalStatus_Divorced,-0.025149,0.057455,0.005779,-0.043287,0.016037,0.035158,-0.043451,0.012107,-0.002672,-0.007212,...,0.037524,-0.012115,-0.013853,-0.052890,1.000000,-0.491506,-0.366691,NaN,-0.023462,0.023462
MaritalStatus_Married,0.053933,-0.043635,-0.030785,0.055613,0.034767,-0.019997,0.005378,0.057339,-0.017866,0.018491,...,0.008271,-0.039987,0.005751,-0.023659,-0.491506,1.000000,-0.629981,NaN,0.013502,-0.013502
MaritalStatus_Single,-0.035189,-0.004622,0.027734,-0.020808,-0.051443,-0.009990,0.033002,-0.072051,0.021469,-0.013323,...,-0.042299,0.053522,0.006210,0.072439,-0.366691,-0.629981,1.000000,NaN,0.006498,-0.006498
Over18_Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OverTime_No,0.024037,0.037163,-0.029392,0.000539,0.006178,0.003036,-0.005864,-0.004040,0.013787,-0.014607,...,-0.002400,-0.054378,-0.006341,-0.003347,-0.023462,0.013502,0.006498,NaN,1.000000,-1.000000
OverTime_Yes,-0.024037,-0.037163,0.029392,-0.000539,-0.006178,-0.003036,0.005864,0.004040,-0.013787,0.014607,...,0.002400,0.054378,0.006341,0.003347,0.023462,-0.013502,-0.006498,NaN,-1.000000,1.000000

In [18]:
corr[corr > 0.8]

,EmployeeNumber,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
EmployeeNumber,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BusinessTravel_Non-Travel,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BusinessTravel_Travel_Frequently,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BusinessTravel_Travel_Rarely,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Department_Human Resources,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Department_Research & Development,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Department_Sales,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,0.808869,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EducationField_Human Resources,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EducationField_Life Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EducationField_Marketing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EducationField_Medical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EducationField_Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EducationField_Technical Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender_Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender_Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Healthcare Representative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Human Resources,NaN,NaN,NaN,NaN,0.904983,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Laboratory Technician,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Manager,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Manufacturing Director,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Research Director,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Research Scientist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Sales Executive,NaN,NaN,NaN,NaN,NaN,NaN,0.808869,NaN,NaN,NaN,...,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Sales Representative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
MaritalStatus_Divorced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
MaritalStatus_Married,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
MaritalStatus_Single,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
Over18_Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OverTime_No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
OverTime_Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [19]:
feature01Dummy.head().T

                                   0  1  2  3  4
EmployeeNumber                     1  2  4  5  7
BusinessTravel_Non-Travel          0  0  0  0  0
BusinessTravel_Travel_Frequently   0  1  0  1  0
BusinessTravel_Travel_Rarely       1  0  1  0  1
Department_Human Resources         0  0  0  0  0
Department_Research & Development  0  1  1  1  1
Department_Sales                   1  0  0  0  0
EducationField_Human Resources     0  0  0  0  0
EducationField_Life Sciences       1  1  0  1  0
EducationField_Marketing           0  0  0  0  0
EducationField_Medical             0  0  0  0  1
EducationField_Other               0  0  1  0  0
EducationField_Technical Degree    0  0  0  0  0
Gender_Female                      1  0  0  1  0
Gender_Male                        0  1  1  0  1
JobRole_Healthcare Representative  0  0  0  0  0
JobRole_Human Resources            0  0  0  0  0
JobRole_Laboratory Technician      0  0  1  0  1
JobRole_Manager                    0  0  0  0  0
JobRole_Manufacturing Director     0  0  0  0  0
JobRole_Research Director          0  0  0  0  0
JobRole_Research Scientist         0  1  0  1  0
JobRole_Sales Executive            1  0  0  0  0
JobRole_Sales Representative       0  0  0  0  0
MaritalStatus_Divorced             0  0  0  0  0
MaritalStatus_Married              0  1  0  1  1
MaritalStatus_Single               1  0  1  0  0
Over18_Y                           1  1  1  1  1
OverTime_No                        0  1  0  0  1
OverTime_Yes                       1  0  1  1  0

In [20]:
feature02=feature01Dummy.drop(columns = ["JobRole_Human Resources","Gender_Female","OverTime_No"])
feature02.head()

,EmployeeNumber,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_Yes
0,1,0,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,1,1,1
1,2,0,1,0,0,1,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0
2,4,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
3,5,0,1,0,0,1,0,0,1,0,...,0,0,1,0,0,0,1,0,1,1
4,7,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [21]:
feature02.head().T

                                   0  1  2  3  4
EmployeeNumber                     1  2  4  5  7
BusinessTravel_Non-Travel          0  0  0  0  0
BusinessTravel_Travel_Frequently   0  1  0  1  0
BusinessTravel_Travel_Rarely       1  0  1  0  1
Department_Human Resources         0  0  0  0  0
Department_Research & Development  0  1  1  1  1
Department_Sales                   1  0  0  0  0
EducationField_Human Resources     0  0  0  0  0
EducationField_Life Sciences       1  1  0  1  0
EducationField_Marketing           0  0  0  0  0
EducationField_Medical             0  0  0  0  1
EducationField_Other               0  0  1  0  0
EducationField_Technical Degree    0  0  0  0  0
Gender_Male                        0  1  1  0  1
JobRole_Healthcare Representative  0  0  0  0  0
JobRole_Laboratory Technician      0  0  1  0  1
JobRole_Manager                    0  0  0  0  0
JobRole_Manufacturing Director     0  0  0  0  0
JobRole_Research Director          0  0  0  0  0
JobRole_Research Scientist         0  1  0  1  0
JobRole_Sales Executive            1  0  0  0  0
JobRole_Sales Representative       0  0  0  0  0
MaritalStatus_Divorced             0  0  0  0  0
MaritalStatus_Married              0  1  0  1  1
MaritalStatus_Single               1  0  1  0  0
Over18_Y                           1  1  1  1  1
OverTime_Yes                       1  0  1  1  0

In [22]:
feature02.shape

(1470, 27)

In [23]:
feature03 = feature00.merge(feature02,on="EmployeeNumber",how="left")
feature03.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_Yes
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,0,0,0,1,0,0,0,1,1,1
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,0,0,1,0,0,0,1,0,1,0
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,0,0,0,0,0,0,0,1,1,1
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,0,0,1,0,0,0,1,0,1,1
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,0,0,0,0,0,0,1,0,1,0

In [24]:
feature03.shape

(1470, 61)

In [25]:
feature03.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Male',
       'JobRole_Healthcare Representative', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'Over18_Y', 'OverTime_Yes'],
      dtype='object')

In [26]:
feature01Dummy.columns

Index(['EmployeeNumber', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Female', 'Gender_Male',
       'JobRole_Healthcare Representative', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'Over18_Y',
       'OverTime_No', 'OverTime_Yes'],
      dtype='object')

In [27]:
feature04 = feature03.set_index(feature03.EmployeeNumber).drop(columns = ["BusinessTravel","Department","EducationField",
                                                                       "Gender","JobRole","MaritalStatus","Over18","OverTime"
                                                                       ])
feature04.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_Yes
EmployeeNumber,,,,,,,,,,,,,,,,,,,,,
1,41,Yes,1102,1,2,1,1,2,94,3,...,0,0,0,1,0,0,0,1,1,1
2,49,No,279,8,1,1,2,3,61,2,...,0,0,1,0,0,0,1,0,1,0
4,37,Yes,1373,2,2,1,4,4,92,2,...,0,0,0,0,0,0,0,1,1,1
5,33,No,1392,3,4,1,5,4,56,3,...,0,0,1,0,0,0,1,0,1,1
7,27,No,591,2,1,1,7,1,40,3,...,0,0,0,0,0,0,1,0,1,0

In [28]:
feature04.shape

(1470, 53)

In [29]:
feature04.columns

Index(['Age', 'Attrition', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'BusinessTravel_Non-Travel', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Human Resources',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Human Resources', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Male', 'JobRole_Healthcare Representative',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'Over18_Y',
       'OverTime_Yes'],
      dtype='object')

In [30]:
feature05 = feature04.drop(columns = ["Attrition"])
feature05.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_Yes
EmployeeNumber,,,,,,,,,,,,,,,,,,,,,
1,41,1102,1,2,1,1,2,94,3,2,...,0,0,0,1,0,0,0,1,1,1
2,49,279,8,1,1,2,3,61,2,2,...,0,0,1,0,0,0,1,0,1,0
4,37,1373,2,2,1,4,4,92,2,1,...,0,0,0,0,0,0,0,1,1,1
5,33,1392,3,4,1,5,4,56,3,1,...,0,0,1,0,0,0,1,0,1,1
7,27,591,2,1,1,7,1,40,3,1,...,0,0,0,0,0,0,1,0,1,0

In [31]:
feature05.shape

(1470, 52)

In [32]:
X = feature05

In [33]:
X.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_Yes
EmployeeNumber,,,,,,,,,,,,,,,,,,,,,
1,41,1102,1,2,1,1,2,94,3,2,...,0,0,0,1,0,0,0,1,1,1
2,49,279,8,1,1,2,3,61,2,2,...,0,0,1,0,0,0,1,0,1,0
4,37,1373,2,2,1,4,4,92,2,1,...,0,0,0,0,0,0,0,1,1,1
5,33,1392,3,4,1,5,4,56,3,1,...,0,0,1,0,0,0,1,0,1,1
7,27,591,2,1,1,7,1,40,3,1,...,0,0,0,0,0,0,1,0,1,0

In [34]:
X.shape

(1470, 52)

In [35]:
y = feature04['Attrition']

In [36]:
y.shape

(1470,)

In [37]:
y.value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [38]:
y.head()

EmployeeNumber
1    Yes
2     No
4    Yes
5     No
7     No
Name: Attrition, dtype: object

## Model Random Forest

## แบ่ง Train Test Split

In [39]:
# นำเข้า train test split function

from sklearn.model_selection import train_test_split

In [40]:
# ใช้วิธี Hold out แบ่ง Test 20 และ Train 70

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=101,stratify = y)

## สร้าง Model

In [41]:
from sklearn.ensemble import RandomForestClassifier# ตั้งชื่อตัวแบบว่า "rf" ให้สุ่ม 500 trees

rf = RandomForestClassifier(n_estimators = 500)

In [42]:
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [43]:
rf.feature_importances_

array([0.0654351 , 0.0520304 , 0.04295309, 0.01812111, 0.        ,
       0.04610534, 0.02782367, 0.04581231, 0.02217124, 0.02249748,
       0.02287522, 0.06649561, 0.04801091, 0.03118959, 0.03292138,
       0.00457144, 0.02173606, 0.        , 0.02702263, 0.0496181 ,
       0.0260217 , 0.02226435, 0.03759691, 0.02515788, 0.02390628,
       0.02683698, 0.00305888, 0.01743312, 0.00781474, 0.0024588 ,
       0.00732224, 0.00621162, 0.00250443, 0.0072677 , 0.00603547,
       0.007909  , 0.00354431, 0.00663371, 0.00876681, 0.00232675,
       0.01009546, 0.00131079, 0.00271123, 0.00048616, 0.00789378,
       0.00604775, 0.00773335, 0.00557483, 0.0077595 , 0.01347322,
       0.        , 0.03845157])

In [44]:
y_pred = rf.predict(X_test)

In [45]:
from sklearn.metrics import classification_report

In [46]:
# สั่งพิมพ์รายงาน ค่าการวัดผล และประสิทธิภาพการทำนายของตัวแบบ

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          No       0.85      1.00      0.92       247
         Yes       0.80      0.09      0.15        47

    accuracy                           0.85       294
   macro avg       0.83      0.54      0.54       294
weighted avg       0.84      0.85      0.80       294

In [47]:
Prediction = pd.DataFrame(y_pred, columns = ["Prediction"], index = X_test.index)
Prediction.head()

               Prediction
EmployeeNumber
817                    No
1013                   No
1098                   No
1651                   No
84                     No

In [48]:
y_test

EmployeeNumber
817      No
1013     No
1098    Yes
1651     No
84       No
1299    Yes
169      No
1464    Yes
1630     No
531      No
1933    Yes
1120     No
1210    Yes
1369     No
1235     No
1045     No
1969     No
1999     No
1523     No
1563     No
1133     No
314      No
1140     No
1712     No
950      No
781      No
339      No
1631     No
145      No
554     Yes
       ...
327      No
411      No
389      No
1105     No
1070     No
1621     No
396      No
1389    Yes
1344     No
984      No
1945     No
350      No
1375     No
692      No
1277    Yes
288      No
1401     No
564      No
832      No
932     Yes
1094     No
1590     No
1128     No
547      No
764      No
626      No
1760     No
221      No
1499     No
1993     No
Name: Attrition, Length: 294, dtype: object

In [49]:
result = pd.concat([y_test,Prediction], axis = 1)
result

               Attrition Prediction
EmployeeNumber
817                   No         No
1013                  No         No
1098                 Yes         No
1651                  No         No
84                    No         No
1299                 Yes         No
169                   No         No
1464                 Yes         No
1630                  No         No
531                   No         No
1933                 Yes         No
1120                  No         No
1210                 Yes         No
1369                  No         No
1235                  No         No
1045                  No         No
1969                  No         No
1999                  No         No
1523                  No         No
1563                  No         No
1133                  No         No
314                   No         No
1140                  No         No
1712                  No         No
950                   No         No
781                   No         No
339                   No         No
1631                  No         No
145                   No         No
554                  Yes         No
...                  ...        ...
327                   No         No
411                   No        Yes
389                   No         No
1105                  No         No
1070                  No         No
1621                  No         No
396                   No         No
1389                 Yes         No
1344                  No         No
984                   No         No
1945                  No         No
350                   No         No
1375                  No         No
692                   No         No
1277                 Yes         No
288                   No         No
1401                  No         No
564                   No         No
832                   No         No
932                  Yes         No
1094                  No         No
1590                  No         No
1128                  No         No
547                   No         No
764                   No         No
626                   No         No
1760                  No         No
221                   No         No
1499                  No         No
1993                  No         No

[294 rows x 2 columns]

## Adjust hyperparameter

In [50]:
from sklearn.model_selection import GridSearchCV

# Create the parameter grid based on the results of random search 
param_grid = {
    'max_features': [4,6,8],
    'min_samples_leaf': [1,3,5],
    'min_samples_split': [2,5,12],
    'n_estimators': [100,300,500]
}

# Create a based model
rf = RandomForestClassifier()

# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, verbose = 3)

In [51]:
# Fit the grid search to the data
grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 81 candidates, totalling 405 fits
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.856, total=   0.2s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=100

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s

[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=100

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.2s remaining:    0.0s

[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.864, total=   0.5s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.838, total=   0.5s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.843, total=   0.5s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.860, total=   0.8s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.855, total=   0.8s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.838, total=   0.8s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.855, total=   0.8s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.847, total=   0.8s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.860, total=   0.2s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.851, total=   0.1s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.860, total=   0.5s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.838, total=   0.5s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.843, total=   0.5s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.860, total=   0.8s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.847, total=   0.8s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.843, total=   0.8s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.855, total=   0.8s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.847, total=   0.8s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.856, total=   0.1s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.838, total=   0.1s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.847, total=   0.1s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.860, total=   0.4s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.847, total=   0.4s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.834, total=   0.5s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.847, total=   0.4s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.860, total=   0.7s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.847, total=   0.7s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.843, total=   0.7s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.855, total=   0.7s
[CV] max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.843, total=   0.7s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.856, total=   0.2s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.843, total=   0.1s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=100

[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.843, total=   0.1s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.856, total=   0.5s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.847, total=   0.4s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.843, total=   0.4s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.851, total=   0.4s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.847, total=   0.4s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.860, total=   0.8s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.847, total=   0.7s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.843, total=   0.8s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.855, total=   0.7s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.847, total=   0.7s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.860, total=   0.1s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.843, total=   0.1s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.860, total=   0.4s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.847, total=   0.4s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.855, total=   0.4s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.856, total=   0.8s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.847, total=   0.8s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.838, total=   0.8s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.855, total=   0.8s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.843, total=   0.8s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.847, total=   0.1s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.851, total=   0.1s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.855, total=   0.1s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.834, total=   0.1s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.860, total=   0.4s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.843, total=   0.4s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.843, total=   0.4s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.855, total=   0.4s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.843, total=   0.5s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.856, total=   0.7s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.847, total=   0.7s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.847, total=   0.7s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.855, total=   0.7s
[CV] max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.847, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.852, total=   0.1s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.847, total=   0.1s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=100

[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.855, total=   0.1s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.851, total=   0.1s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.860, total=   0.5s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.843, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.843, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.851, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.847, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.852, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.843, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.847, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.855, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.847, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.852, total=   0.1s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.843, total=   0.1s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.847, total=   0.1s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.855, total=   0.1s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.838, total=   0.2s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.852, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.847, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.847, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.851, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.838, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.856, total=   0.8s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.843, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.847, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.855, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.843, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.856, total=   0.1s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.847, total=   0.1s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.855, total=   0.1s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.843, total=   0.1s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.852, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.843, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.847, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.855, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.843, total=   0.4s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.852, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.843, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.851, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.855, total=   0.7s
[CV] max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=4, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.843, total=   0.7s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.864, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.838, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=100

[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.864, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.834, total=   0.6s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.847, total=   0.6s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.864, total=   1.0s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.843, total=   0.9s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.830, total=   0.9s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.855, total=   0.9s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.855, total=   0.9s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.860, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.834, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.864, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.834, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.864, total=   0.8s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.851, total=   0.9s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.834, total=   0.9s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.847, total=   0.8s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.851, total=   0.9s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.860, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.864, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.838, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.860, total=   0.8s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.847, total=   0.8s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.834, total=   0.8s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.851, total=   0.8s
[CV] max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.843, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.856, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.834, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=100

[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.864, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.838, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.864, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.851, total=   0.9s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.834, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.851, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.847, total=   0.9s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.856, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.838, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.864, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.834, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.864, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.847, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.838, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.855, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.843, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.860, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.834, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.864, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.843, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.860, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.851, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.838, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.855, total=   0.8s
[CV] max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.843, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.860, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.838, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=100

[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.860, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.838, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.834, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.860, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.847, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.838, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.851, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.851, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.860, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.838, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.860, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.843, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.860, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.847, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.838, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.855, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.847, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.856, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.864, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.843, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.860, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.843, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.838, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.851, total=   0.8s
[CV] max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=6, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.851, total=   0.8s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.860, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.834, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=100

[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.860, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.869, total=   0.6s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.847, total=   0.6s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.834, total=   0.6s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.851, total=   0.6s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=300, score=0.847, total=   0.6s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.864, total=   0.9s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.851, total=   0.9s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.834, total=   0.9s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.855, total=   0.9s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=2, n_estimators=500, score=0.864, total=   0.9s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.864, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.834, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.864, total=   0.6s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.843, total=   0.6s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.851, total=   0.6s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.851, total=   0.6s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.864, total=   0.9s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.851, total=   0.9s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.830, total=   0.9s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.860, total=   0.9s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=5, n_estimators=500, score=0.851, total=   1.0s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.864, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.834, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.864, total=   0.5s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.834, total=   0.5s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.864, total=   0.9s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.843, total=   0.9s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.834, total=   1.0s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.851, total=   0.9s
[CV] max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=1, min_samples_split=12, n_estimators=500, score=0.847, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.864, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=100

[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.864, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.847, total=   0.6s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.838, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.864, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.851, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.838, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.851, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=2, n_estimators=500, score=0.851, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.864, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.860, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.838, total=   0.6s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.864, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.843, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.830, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.851, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=5, n_estimators=500, score=0.855, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.860, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.830, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=100, score=0.843, total=   0.2s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.864, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.834, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.864, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.847, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.834, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.851, total=   0.9s
[CV] max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=3, min_samples_split=12, n_estimators=500, score=0.855, total=   0.9s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.860, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.847, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=100

[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.834, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.860, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.838, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=300, score=0.838, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.864, total=   0.9s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.843, total=   0.9s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.838, total=   0.9s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.851, total=   0.8s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=2, n_estimators=500, score=0.847, total=   0.9s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.856, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.838, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=100, score=0.860, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.860, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.843, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.834, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=300, score=0.847, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.860, total=   0.9s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.847, total=   0.9s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.834, total=   0.9s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.851, total=   0.8s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=5, n_estimators=500, score=0.855, total=   0.8s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.860, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.834, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.855, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=100
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=100, score=0.851, total=   0.2s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.860, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.838, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.851, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=300
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=300, score=0.855, total=   0.5s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.860, total=   0.8s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.847, total=   0.8s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.838, total=   0.8s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.855, total=   0.8s
[CV] max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=500
[CV]  max_features=8, min_samples_leaf=5, min_samples_split=12, n_estimators=500, score=0.851, total=   0.9s

[Parallel(n_jobs=1)]: Done 405 out of 405 | elapsed:  3.3min finished

GridSearchCV(cv=None, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_features': [4, 6, 8],
                         'min_samples_leaf': [1, 3, 5],
                         'min_samples_split': [2, 5, 12],
                         'n_estimators': [100, 300, 500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [52]:
# ดู default parameter

grid_search.best_estimator_

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=8,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

## สร้าง Model RF ใหม่โดยใช้ Best estimator จาก Grid Search

In [53]:
rf_fine =              RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=8,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

##  Train Model ใหม่ด้วย RF

In [54]:
# สร้าง Model "rf_fine"

rf_fine.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=8,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

## Prediction Model ใหม่

In [56]:
# ทำนายค่าในชุด test set ที่แบ่งไว้ 30%

Predictionfine= rf_fine.predict(X_test)

## Evaluation Model ใหม่

In [57]:
# นำเข้า classification report และ confusion matrix

from sklearn.metrics import classification_report, confusion_matrix

In [58]:
# สั่งพิมพ์รายงาน ค่าการวัดผล และประสิทธิภาพการทำนายของตัวแบบ และค่าใน confusion matrix

print(classification_report(y_test, Predictionfine))
print('\n')
print(confusion_matrix(y_test, Predictionfine))

              precision    recall  f1-score   support

          No       0.85      1.00      0.92       247
         Yes       0.80      0.09      0.15        47

    accuracy                           0.85       294
   macro avg       0.83      0.54      0.54       294
weighted avg       0.84      0.85      0.80       294



[[246   1]
 [ 43   4]]

In [59]:
Predictionnew = pd.DataFrame(Predictionfine, columns = ["Prediction"], index = X_test.index)
Predictionnew.head()

               Prediction
EmployeeNumber
817                    No
1013                   No
1098                   No
1651                   No
84                     No

In [60]:
Newresult = pd.concat([y_test,Predictionnew], axis = 1)
Newresult

               Attrition Prediction
EmployeeNumber
817                   No         No
1013                  No         No
1098                 Yes         No
1651                  No         No
84                    No         No
1299                 Yes         No
169                   No         No
1464                 Yes         No
1630                  No         No
531                   No         No
1933                 Yes         No
1120                  No         No
1210                 Yes         No
1369                  No         No
1235                  No         No
1045                  No         No
1969                  No         No
1999                  No         No
1523                  No         No
1563                  No         No
1133                  No         No
314                   No         No
1140                  No         No
1712                  No         No
950                   No         No
781                   No         No
339                   No         No
1631                  No         No
145                   No         No
554                  Yes         No
...                  ...        ...
327                   No         No
411                   No        Yes
389                   No         No
1105                  No         No
1070                  No         No
1621                  No         No
396                   No         No
1389                 Yes         No
1344                  No         No
984                   No         No
1945                  No         No
350                   No         No
1375                  No         No
692                   No         No
1277                 Yes         No
288                   No         No
1401                  No         No
564                   No         No
832                   No         No
932                  Yes         No
1094                  No         No
1590                  No         No
1128                  No         No
547                   No         No
764                   No         No
626                   No         No
1760                  No         No
221                   No         No
1499                  No         No
1993                  No         No

[294 rows x 2 columns]

## Save & Load Model

In [61]:
Newresult.to_csv("HRAnalytic.csv")

In [62]:
import pickle
# Dump Model
file = open("HRmodel_dumped.pkl", "wb")
pickle.dump(rf_fine, file)

In [63]:
# Loaded Model
file = open("HRmodel_dumped.pkl", "rb")
rfmodel_loaded = pickle.load(file)

In [64]:
rfmodel_loaded.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=8,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [66]:
Predictionfine2=rfmodel_loaded.predict(X_test)

In [67]:
Predictionnew2 = pd.DataFrame(Predictionfine2, columns = ["Prediction"], index = X_test.index)
Predictionnew2.head()

               Prediction
EmployeeNumber
817                    No
1013                   No
1098                   No
1651                   No
84                     No